.itemsAlign{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divModelForm1 {
    padding: 10px 270px 10px 0px;
}

.textoAcordion{
    font-size: 30px;
    font-weight: bold;
}

.imgItemsSets{
    width: 200px;
    height: 375px;
}
.divModelForm2 {
    padding: 10px 180px 10px 0px;
}
.divModelForm3 {
    padding: 10px 300px 10px 0px;
}

.imgItems{
    width: 48px;
    height: 48px;
}

.backGroundAcordeon{
    background-color: rgb(78, 102, 102);
}
